---
layout: tailwind
title: home | pengmaradi
key: ceramic, pappmache, figur, creative, art
description: leidenschaftlicher Künstler
---
<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <h1>Willkommen auf meiner Webseite!</h1>
    <p>
        Mein Name ist Xiaoling Peng, und ich bin leidenschaftlicher Künstler im Bereich der Skulpturengestaltung.
        Mit Materialien wie Pappmaché und Ton erwecke ich Figuren zum Leben, die sowohl Fantasie als auch Emotionen widerspiegeln.
        Jede meiner Kreationen ist ein Unikat, das mit viel Liebe zum Detail und Hingabe gefertigt wird.
        Ich lasse mich von der Natur, Kunstgeschichte und den kleinen Wundern des Alltags inspirieren und freue mich, diese Inspirationen in meinen
        Arbeiten mit Ihnen zu teilen.
    </p>
</section>


<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <h3>Hier finden Sie eine Auswahl meiner bisherigen Projekte.</h3>
    <p>
        Von fantasievollen Tierfiguren über ausdrucksstarke Porträts bis hin zu abstrakten Formen – meine Werke
        entstehen aus Pappmaché und Ton und tragen immer meine persönliche Handschrift. Jedes Projekt ist eine Reise, die mit einer
        Idee beginnt und in einer einzigartigen Skulptur endet.
    </p>
    <p>
        Lassen Sie sich von meinen bisherigen Arbeiten inspirieren und entdecken Sie die Vielfalt meiner kreativen Welt.
        Wenn Sie eine besondere Idee haben, die Sie gerne verwirklicht sehen möchten, stehe ich Ihnen gerne zur
        Verfügung, um ein individuelles Projekt für Sie zu gestalten.
    </p>
</section>

{% include paper.html %}

{% include ceramic.html %}





<!-- <script type="module" src="src/main.jsx"></script> -->