---
layout: tailwind
title: home | pengmaradi
key: ceramic, pappmache, figur, creative, art
description: leidenschaftlicher Künstler
---
<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <h1>Willkommen auf meiner Webseite!</h1>
    <div>Ich bin Xiaoling Peng, Webentwickler sowie leidenschaftlicher Künstler im Bereich der Skulpturengestaltung. In
        meiner Freizeit erschaffe ich Figuren aus Pappmaché und Ton, die Fantasie und Emotionen zum Leben erwecken. Jede
        Skulptur, die ich anfertige, ist ein Unikat, mit viel Liebe zum Detail und Hingabe gestaltet. Meine Inspiration schöpfe ich
        aus der Natur, der Kunstgeschichte und den kleinen Wundern des Alltags. Es freut mich, diese Eindrücke in meinen Werken
        mit Ihnen zu teilen.
    </div>
</section>


<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <p>
        Auf dieser Seite finden Sie eine Auswahl meiner bisherigen Projekte – von fantasievollen Tierfiguren über
        ausdrucksstarke Porträts bis hin zu abstrakten Formen. Jedes Werk trägt meine persönliche Handschrift und ist
        das
        Ergebnis einer kreativen Reise, die mit einer Idee beginnt und in einer einzigartigen Skulptur gipfelt.
    </p>
    <p>
        Lassen Sie sich von meinen Arbeiten inspirieren und entdecken Sie die Vielfalt meiner künstlerischen Welt. Wenn
        Sie eine
        besondere Idee verwirklichen möchten, stehe ich Ihnen gerne zur Verfügung, um ein individuelles Projekt für Sie
        zu
        gestalten.
    </p>
</section>

{% include paper_exhibition.html %}

{% include sanchoPanza.html %}

{% include ceramic.html %}

