---
layout: default
---

{% for post in site.posts %}
	{% capture post_count %} {{ post_count | plus: 1 }} {% endcapture %}
{% endfor %}
<div id="fluidContainer">
    <div id="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Test Blog</h1><h3 class="post-subtitle">total: {{ post_count }}</h3>
				<p class="post-meta">&nbsp;</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- ###Blog-begin### -->
                {% for post in site.posts %}
                <div class="col-lg-4">
                    <div class="panel {{post.class}}">
                        <div class="panel-heading">
                            {{post.title}}
                        </div>
                        <div class="panel-body">
                            <p>{{post.date}}</p>
                            <p>{{post.description}}</p>
                            <a href="{{post.url}}">More</a>
                        </div>
                        <div class="panel-footer">
                            {{post.categories}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- ###Blog-end### -->
            </div>
        </div>
    </div>
</div>
