<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">

        {% for item in site.data.paper %}
            <div class="grid gap-4">
                <div class="{{navIndex}}">
                    <img src="{{ item.src }}" class="h-auto max-w-full rounded-lg"
                        alt="{{ item.name }}" title="{{ item.description }}" />
                </div>
            </div>
        
        {% endfor %}

    </div>
</section>