<section clsss="duration-1000 transition-all transform" x-intersect="$el.classList.add('fadeInUp')">
    <div class="relative w-full" data-carousel="slide">
        <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
            {% for item in site.data.paper %}
            <div class="hidden duration-8000 ease-in-out" data-carousel-item>
                <img src="{{ item.src }}"
                    class="absolute block w-auto h-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                    alt="{{ item.name }}" title="{{ item.description }}" />
            </div>
            {% endfor %}
        </div>

    </div>
</section>